html{
  font-family: sans-serif;
}
*{
  box-sizing: border-box;
}

/* Image */
#side-space{
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  font-family: 'Dosis', sans-serif;
  color: #121213;
  font-size: 14px;
  line-height: 20px;
  z-index: 1000;
}

#background-img{
  Position: relative;
  Height: 85vh;
  Padding-right: 5%;
  Padding-left: 5%;
  Background-color: #c1c3cc;
  background-image: linear-gradient(76deg, rgba(193, 195, 204, 0.83) 35%, rgba(193, 195, 204, 0.28) 65%), url(https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg);
  background-position:0% 0%,50% 0%;
  background-size:auto,cover;
  background-attachment: scroll,fixed;
}

#topbar{
  position: absolute;
  width:90%;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
  Background-Color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.brand{
  background-color: #e47312;
  height: 110px;
  position: absolute;
  top:0;
  left: 0;
  padding-left: 35px;
  padding-right: 35px;
  text-decoration: none;

}

.main-logo{
  width: 90px;
  padding: 45px 0;
}

#menu{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

#about-container{
  margin-top: 15%;
}

#about-2-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img-section{
  width: 50%;
}

.about-img{
  width: 750px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.text-section{
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.padding-right{
  padding-left: 120px;
}

.margin-down{
  margin-bottom: 8%;
}

.menu-list{
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  padding: 31px 14px;
  color: #414147;
  letter-spacing: 1px;
}

.color{
  color: #e47312;
}

.menu-list::before{
  content: '';
  position: absolute;
  left: 0%;
  top: -2%;
  right: 0%;
  width: 1px;
  height: 0;
  margin: 0 auto;
  background-color: #e47312;
  transition: .2s;
}

.menu-list::after{
  content: '';
  position: absolute;
  left: 0%;
  bottom: -2%;
  right: 0%;
  width: 1px;
  height: 0;
  margin: 0 auto;
  background-color: #e47312;
  transition: .2s;
}

.menu-list:hover{
  color: #e47312;
}

.menu-list:hover::after, .menu-list:hover::before{
  height: 30px;
}

span{
  margin-left: 3px;
  color:#717177;
}
.page{
  display: inline-block;
}

#dropdown:hover > #dropdown-list{
  display: block;
}
#dropdown-list:hover{
  display: block;
}
#dropdown-list{
  display: none;
  background-color: #fff;
  position: absolute;
  top: 100%;
  text-align: left;
  padding:10px 12px;
  z-index: 2;
}
.dropdown-link{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #717177;
  padding: 10px 20px;
}

#footer{
  position: relative;
  z-index: 1;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 70px;
  padding-right: 50px;
  padding-left: 50px;
  border-top: 1px solid #2f3038;
  background-color: #0a1229;
}

#footer-container{
  max-width: 1200px;
}



.with-line{
  position: relative;
  display: flex;
  align-items: center;
}
.with-line h1{
  margin-bottom: 30px;
  padding-right: 14px;
  background-color: #0a1229;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  z-index: 10;
  position: relative;
  letter-spacing: 1px;
  font-weight: 600;
}
.line{
  position: absolute;
  left: 0%;
  top: 21px;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 1px;
  background-color: #ff6361;
}

.footer-column p{
  font-size: 17px;
  line-height: 25px;
  font-family: Dosis, sans-serif;
  margin-bottom: 5px;
  color: #fff;
  margin-top: 0;
}

.footer-column .learnmore-underline-text{
  color: white;
}

.footer-column .learnmore-underline-text::after{
  z-index: 100;
  width: 100%;
}

.footer-column .learnmore-underline-text:hover::after{
  background-color: #fff;
}

.footer-column2{
  width: 33%;
  padding-left: 10px;
  padding-right: 70px;
}

.footer-column2 .learnmore-underline-text{
  color: white;
  margin-top: 0;
}
.footer-column2 .learnmore-underline-text div{
  margin-top: 5px;
}

.footer-column2 .learnmore-underline-text::after{
  z-index: 100;
  width: 100%;
}

.footer-column2 .learnmore-underline-text:hover::after{
  background-color: #fff;
}


.c-icon{
  width: 20px;
  margin-bottom: 15px;
}

.info-child{
  display: flex;
  padding-top: 0px;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 15px;
}

.sub-info{
  padding-left: 15px;
  
}

#footer-flex{
  display: flex;
}

.normal-band{
  position: relative;
  display: flex;
  height: 110px;
  padding-right: 35px;
  padding-left: 35px;
  justify-content: center;
  align-items: center;
  background-color: #e47312;
  align-self: stretch;
  float: left;
}

.footer-band{
  margin-top: 80px;
  height: 110px;
}
.nuuk-logo{
  box-sizing: content-box;
  width: 90px;
  height: 20px;
  background-color: #e47312;
  padding:45px 35px;
  cursor: pointer;
}


.dropdown-link:hover{
  background-color: #f1f1f7;
  color: #e47312;
}
.similar-quote, .quote{
  margin-left: 20px;
  padding: 34px 28px 31px;
  background-color: #e47312;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .2s;
}

.similar-quote:hover{
  background-color: #e98a38;
}

.humburger-line{
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  width: 50%;
  height: 2px;
  background-color: #000;
  transition: .2s;
}

.humburger-line:first-of-type{
  transform: translate(-50%,-4px);
}
.humburger-line:last-of-type{
  transform: translate(-50%,8px);
}

#container{
  max-width: 1200px;
  position: relative;
  left: 0;
  bottom: -38%;
  z-index: 1;
}



.sec1-text h1{
  color: #fff;
  font-size: 62px;
  line-height: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 1px;
  font-weight: 600;
}

.sec1-text p{
  margin-top: 10px;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 5px;
  color: hsla(0, 0%, 100%, 0.7);
}

#btn{
  position: relative;
  margin:30px 0;
  left: -20px;
}

#btn .similar-quote{
  min-width: 160px;
  padding: 17px 25px;
  border: none;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: 'Dosis', sans-serif; 
  outline: none;
}

.social-media{
  position: absolute;
  right: 0%;
  left: auto;
  top: auto;
  bottom: 143px;
  display: flex;
  padding: 10px;
  background-color: #0a1229;
  flex-direction: column;
  z-index: 5;
}

.social-media i{
  font-size: 16px;
  color:rgb(255, 255, 255,0.9);
  display: flex;
  width: 40px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
  cursor: pointer;
}

.social-media i:last-child{
  border-bottom: none;
}




#contact-details{
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: -83px;
  display: flex;
  flex-direction: row;
  width: 980px;
  padding: 15px 50px 5px 50px;
  background-color: #e47312;
  background-image: linear-gradient(186deg, #e47312, #ff6361);
  z-index: 1;
}

#contact-2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.inside-contact-details{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;  
  align-items: center;
}
.inside-contact-details img{
  width: 24px;
  margin-bottom: 15px;
}

.h1-tag{
  color: white;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact-h1{
  margin-top: 0px;
  margin-bottom: 10px;
}

.contact-p{
  font-size: 16px;
  margin: 0;
  margin-bottom: 8px;
  color:hsla(0, 0%, 100%, 0.7);
  font-weight: 500;
}

.map-btn{
  margin-top: 15px;
  padding-bottom: 5px;
  color: #fff;
  display: inline-block;
}


.underline-text{
  position: relative;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.underline-text::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: transparent;
  transition: .2s;
}

.underline-text:hover::after{
  background-color: #fff;
}




@media screen and (max-width:1000px){
  #side-space{
      margin-top: 0%;
      margin-right: 0%;
      margin-left: 0%;   
  }

  #topbar{
      width: 100%;
      height: 60px;
      margin-top: 0;
  }

  .menu-list{
      display: none;
  }

  .menu-button{
      transform: translateX(-30px);
      cursor: pointer;
  }

  .quote{
      display: none;
  }

  .humburger-line{
      width: 30px;
      display: block;
  }

  .brand{
      height: 60px;
  }

  .main-logo{
      padding: 20px 0;
  }

  #background-img{
      height: 500px;
      padding-left: 0;
  }

  #contact-details{
      /* display: none; */
  }

  #container{
      margin-left: 10px;
      transform: translateY(-42px);
      padding-right: 35px;
      padding-left: 5%;
      overflow: hidden;
  }
  .sec1-text{
      width: 100%;
  }
  .sec1-text h1{
      font-size: 40px;
      line-height: 42px;
  } 

  .social-media{
      transform: translateY(143px);
  }
}

/* -------------------------------------------------------section 2---------------------------------------------------- */


#sevices-section{
  padding-top: 15%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
}

.section-2-container{
  max-width: 1200px;
  margin: 0 auto;
}
#section-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7%;
}

.left-merge{
  position: relative;
}

.top-title{
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 1px;
  z-index: 5;
}

.background-title{
  position: absolute;
  top:-110px;
  left: -53px;
  text-transform: uppercase;
  font-size: 120px;
  letter-spacing: 11px;
  color: rgb(241, 241, 247, 0.4);
  z-index: 2;
  font-weight: 600;
}

.service-btn > div{
  font-weight: 600;
  padding-bottom: 5px;
}

.service-underline-text{
  position: relative;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  color: #919198;
}

.service-underline-text::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: transparent;
  transition: .2s;
}

.service-underline-text:hover::after{
  background-color: #e47312;
}


.section2-part-2{
  display: flex;
}

.sec2-container{
  padding: 0 10px;
}

.sec2-images{
  width: 60px;
}

.sec2-h1{
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
  letter-spacing:1px;
  
}

.sec2-para{
  margin-bottom:10px;
  font-family: 'Dosis', sans-serif;
  color:#919197;
  line-height: 25px;
  font-size: 17px;
  font-weight: 400;
}


.learn-more > div{
  font-weight: 600;
  padding-bottom: 5px;
  margin-top: 20px;
}

.learnmore-underline-text{
  position: relative;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #919198;
  display:inline-block;
}

.learnmore-underline-text::after{
  content: '';
  position: absolute; 
  height: 2px;
  bottom: 0;
  background-color: transparent;
  transition: .2s;
}

.learnmore-underline-text:hover::after{
  background-color: #e47312;
  width: 100%;
}


/* ----------------------------------------about-section----------------------------------------------------------- */

@media screen and (max-width:600px) {
  #about-2-container{
      display: flex;
      flex-direction: column;
  }

  .img-section{
      width: 100%;
      margin-bottom: 84px;
  }

  .text-section{
      width: 100%;
  }
  
  .padding-right{
      padding-left: 0px;
  }
  .margin-down{
      margin-bottom: 15%;
  }
}

/* ----------------------------------------------------------number-section-------------------------------------------*/

#number-section{
  margin-top: 10%;    
  max-width: 1200px;
}

#number-2-section{
 
  padding-left: 10px;
  padding-right: 10px;
}

.main-num-div{
  display: flex;
  flex-direction: row;
}

.num-details{
  width: 25%;
  padding-right: 130px;
}
.number{
  margin-bottom: 10px;
  color: #e47312;
  font-size: 60px;
  line-height: 70px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
}

.num-details .sec2-para{
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (max-width:600px) {
  .main-num-div{
      display: flex;
      flex-direction: column;
  }
  .num-details{
      width: 100%;
      padding-right: 0;
      margin-bottom: 26px;
  }

}

/* -------------------------------------------------projects section------------------------------------------- */

#projects-section{
  padding: 8% 0% 20px 20px;
  background-color: #f7f8fc;
}

#project-part{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#project-img{
  display: flex;
  flex-wrap: wrap;
}

.project-flex{
  width: 33%;
  padding-top: 0px;
  padding-right: 0px;
  position: relative;
  cursor: pointer;
}

.collection-projects{
  padding-right: 20px;
  padding-top: 20px;
}

.p-img{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}


.project-overlay {
  margin-top: 20px;
  margin-right: 20px;
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  transition: .2s;
  opacity: 0;
}

.project-overlay:hover{
  opacity: 1;
}

.view-projects{
  display: flex;
  width: 90px;
  height: 90px;
  padding-right: 11px;
  padding-left: 11px;
  align-items: center;
  border-radius: 100%;
  background-image: linear-gradient(59deg, #ff6361, #e47312);
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  justify-content: center;
}

@media screen and (max-width:600px) {
  #project-img{
      display: flex;
      flex-direction: column;
  }
  .project-flex{
      width: 100%;
  }
}

/* ---------------------------------------------background image section-------------------------------------- */

#background-image-section{
  padding-top: 7%;
  padding-bottom: 7%;
  background-color: #e47312;
  background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)), url(https://nuuk-e3eaa.firebaseapp.com/assets/img/banner-2.jpg);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.text-field{
  text-align: center;
  color: white;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.center-hover{
  text-align: center;
}

.text-field h1{
  position: relative;
  z-index: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-field p{
  margin-top: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  color: hsla(0, 0%, 100%, 0.7);
}

.text-field .learnmore-underline-text{
  color: white;
}

.text-field .learnmore-underline-text:hover::after{
  background-color: white;
  width: 100%;
  left: 0%;
}



/* ---------------------------------------------------------professional section------------------------------------ */

#professional-section{
  padding: 10% 5%;
  background-color: #f7f8fc;
}

.padding-div{
  width: 25%;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.margin-div{
  position: relative;
  width: 95%;
}

.professions{
  display: flex;
  flex-direction: row;
}

.profession-image-1{
  min-height: 300px;
  background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-1.jpg);
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}
.profession-image-2{
  min-height: 300px;
  background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-2.jpg);
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}
.profession-image-3{
  min-height: 300px;
  background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-3.jpg);
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}
.profession-image-4{
  min-height: 300px;
  background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-4.jpg);
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.profession-name{
  padding: 29px 66px 29px 29px;
  background-color: #fff;
}

.margin-div .social-{
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 5;
  background-color:#e47312;;
}
.profession-name h1{
  margin-top: 0px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.profession-name p{
  margin-bottom: 0px;
  color: #bdbdc9;
  font-size: 16px;
  line-height: 25px;
  font-family: Dosis, sans-serif;
  margin-top: 0;
}



/* -----------------------------------------------------testimonial section------------------------------------------ */

#testimonial-section{
  margin-top: 15%;
}

#flex-wrap-div{
  display: flex;
  align-items: center;
}

.left-flex-div{
  width: 42%;
  padding-left: 10px;
  padding-right: 10px;
}
.left-para{
  padding-right: 100px;
  padding-left: 0px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.left-para p {
  margin-bottom: 10px;
  font-family: Dosis, sans-serif;
  color: #919197;
  font-size: 17px;
  line-height: 25px;
}

.right-flex-div{
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 58%;
  display: flex;
}

.right-left-div{
  width: 50%;
}

.left-container{
  position: relative;
  display: block;
  width: 90%;
  margin: 50px auto 61px;
  padding: 80px 30px 26px;
  background-color: #fff;
  text-align: center;
}

.margin-bottom-no{
  margin-bottom: 0px;
}

.margin-top{
  margin-top: 151px;
}

.equal-div{
  display: flex;
  width: 60px;
  height: 60px;
  margin: -115px auto 25px;
  border-radius: 100%;
  background-image: linear-gradient(8deg, #ff6361, #e47312);
  opacity: 1;
  color: #fff;
  font-size: 80px;
  line-height: 80px;
  align-items: stretch;
}

.double-quote{
  padding-top: 12px;
  padding-left: 18px;
}

.left-container h4{
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.author-name{
  margin-bottom: 0px;
  color: #bdbdc9;
  font-size: 16px;
}

.left-container p{
  margin-top: 15px;
  margin-bottom: 0px;
  color: #919197;
  font-size: 17px;
  line-height: 25px;
  font-family: Dosis, sans-serif;
}

@media screen and (max-width:1000px) {
  #flex-wrap-div{
      display: flex;
      flex-direction: column;
      align-items: left;
  }

  .left-flex-div{
      width: 100%;
  }

  .left-para{
      padding-right: 0px;
      margin-top: 50px;
  }

  .right-flex-div{
      width: 100%;
      display: flex;
      flex-direction: column;
  }

  .right-left-div{
      width: 100%;
  }

  .margin-bottom-no{
      margin-bottom: 61px;
  }

  .margin-top{
      margin-top: 0px;
  }

}


/* --------------------------------------------------------------section blog------------------------------------------ */

#blog-section{
  padding: 10% 5%;
}
#post-section{
  display: flex;
  flex-direction: row;
}

.sep-post{
  width: 33%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  cursor: pointer;
}

.top-sec{
  position: relative;
  background-color: #5c5c5c;
}

.right-top-sec-blog{
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.date-sec{
  display: flex;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #ff6361, #e47312);
  color: #fff;
  font-size: 26px;
  font-weight: 400;
}

.month-sec{
  align-items: center;
  background-color: #fff;
  color: #9d9da5;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  width: 70px;
  height: 40px;
  justify-content: center;

}

.blog-img{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.blog-text-sec{
  width: 100%;
  padding: 25px 56px 25px 30px;
  background-color: #e47312;
  background-image: linear-gradient(158deg, #e47312, #ff6361);
}

.blog-text-sec h1{
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 19px;
  line-height: 26px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
}
.blog-text-sec p{
  margin-bottom: 5px;
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 17px;
  line-height: 25px;
  font-family: Dosis, sans-serif;
}

.blog-text-sec .learnmore-underline-text{
  color: white;
}

.blog-text-sec .learnmore-underline-text::after{
  z-index: 100;
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.3);
}

.blog-text-sec .learnmore-underline-text:hover::after{
  background-color: white;
}

@media screen and (max-width:767px) {
  #post-section{
      display: flex;
      flex-direction: column;
  }
  .padding-right {
  padding-top: 20px;
  padding-left:0px;
}
.num-details {
  width: 100%;
  padding-right: 130px;
}
#footer-flex {
  display: block;
}
.text-section {
  width: 100%;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
}
  #about-2-container,.main-num-div{
      display: block;
  }
  .footer-column {
      /* width: 33%; */
      padding-left: 10px;
      padding-right: 70px;
  }
  #project-img{
      display: block;
  }
  .img-section {
  width: auto;
  }
  #contact-details {
      position: absolute;
      left: auto;
      top: auto;
      right: 0%;
      bottom: -83px;
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 15px 50px 5px 50px;
      background-color: #e47312;
      background-image: linear-gradient(186deg, #e47312, #ff6361);
      z-index: 1;
  }
  .project-flex {
      width: 103vh;
      padding-top: 0px;
      padding-right: 0px;
      position: relative;
      cursor: pointer;
  }
  .project-overlay {
      margin-top: 20px;
      margin-right: 20px;
      position: absolute;
      left: 0%;
      top: 0%;
      right: 0%;
      bottom: 0%;
      display: block;
      /* justify-content: center; */
      /* align-items: center; */
      background-color: rgba(0, 0, 0, 0.3);
      transition: .2s;
      opacity: 0;
  }
  .view-projects {
      display: flex;
      width: 90px;
      height: 90px;
      margin-left: 50vh;
      margin-top: 40vh;
      /* padding-right: 50vh; */
      padding-left: 11px;
      align-items: center;
      border-radius: 100%;
      background-image: linear-gradient(59deg, #ff6361, #e47312);
      color: #fff;
      font-size: 12px;
      line-height: 18px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;
      justify-content: center;
  }
  .padding-div {
      width: 100%;
      position: relative;
      padding-left: 10px;
      padding-right: 10px;
  }
  .professions {
  display: flex;
  flex-direction: column;
}
.logo-flex {
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#footer {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 70px;
  padding-right: 50px;
  padding-left: 50px;
  border-top: 1px solid #2f3038;
  background-color: #0a1229;
}
  .p-img {
      max-width: 100vh;
      vertical-align: middle;
      display: inline-block;}

  .sep-post{
      width: 100%;
      margin-bottom: 15%;
  }
  .section2-part-2{
      display: block;
  }
}

/* -----------------------------------logo-section--------------------------------------------------- */

#logo-section{
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 5%;
  padding-left: 5%;
  background-image: linear-gradient(56deg, #e47312, #ff6361);
}

.logo-flex{
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.logo-flex h1{
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  width: 28%;
}

.logo-img1{
  width: 20%;
  min-height: 100px;
  background-color: transparent;
  background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-1w.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
  background-size: 100px;  
  max-width: 100%;
  display: inline-block;
}
.logo-img2{
  width: 20%;
  min-height: 100px;
  background-color: transparent;
  background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-2w.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
  background-size: 100px;  
  max-width: 100%;
  display: inline-block;
}
.logo-img3{
  width: 20%;
  min-height: 100px;
  background-color: transparent;
  background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-3w.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
  background-size: 100px;  
  max-width: 100%;
  display: inline-block;
}
.logo-img4{
  width: 20%;
  min-height: 100px;
  background-color: transparent;
  background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-4w.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
  background-size: 100px;  
  max-width: 100%;
  display: inline-block;
}
.logo-img5{
  width: 20%;
  min-height: 100px;
  background-color: transparent;
  background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-5w.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
  background-size: 100px;  
  max-width: 100%;
  display: inline-block;
}
